<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.wppiotrek.wydatki.v2"
    android:versionCode="1782"
    android:versionName="1.0.1682" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="pl.wppiotrek.wydatki.basepackage.BaseApplicationClasses.WydatkiAppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.wppiotrek.wydatki.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.wppiotrek.wydatki.EntitiesActivity"
            android:label="@string/title_activity_entities"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.wppiotrek.wydatki.activities.MainActivity" />
        </activity>
        <activity
            android:name="pl.wppiotrek.wydatki.v2.EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.wppiotrek.wydatki.activities.MainActivity" />
        </activity>
        <activity
            android:name="pl.wppiotrek.wydatki.v2.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pl.wppiotrek.wydatki.basepackage.activities.CalculatorInput"
            android:label="@string/title_activity_transaction"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pl.wppiotrek.wydatki.v2.TransactionFilterActivity"
            android:label="@string/title_activity_transaction_filter" >
        </activity>
        <activity
            android:name="pl.wppiotrek.wydatki.v2.TransactionListActivity"
            android:label="@string/title_activity_transaction_list"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.wppiotrek.wydatki.activities.MainActivity" />
        </activity>
    </application>

</manifest>
